@model Slider
@{
    ViewData["Title"] = "Create";
}


<div style="padding-left:200px" class="container my-5">
    <h1>Create</h1>
    <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
        <input class="form-control"  id="customFile" asp-for="Photo">
        <span class="text-danger" asp-validation-for="Photo"></span>
        <div class="my-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </form>
</div>

