@model Blog
@{
    ViewData["Title"] = "Create";
}


<div style="padding-left:200px" class="container my-5">
    <h1>Create</h1>
    <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
        <label>Add Photo</label>
        <input class="form-control" id="customFile" asp-for="Photo">
        <span class="text-danger" asp-validation-for="Photo"></span>
        <label>Add Header</label>
        <input class="form-control" type="text" id="customFile" asp-for="Header">
        <span class="text-danger" asp-validation-for="Header"></span>
        <label>Add Description</label>
        <input class="form-control" type="text" id="customFile" asp-for="Description">
        <span class="text-danger" asp-validation-for="Description"></span>
        <label>Add Date</label>
        <input class="mt-2" type="datetime-local" asp-for="Date">
        <span class="text-danger mt-2" asp-validation-for="Date"></span>
        <div class="my-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </form>
</div>

