@model ExpertVM

<section id="experts">
    <div class="container">
        <div class="row py-5">
            <div class="offset-lg-3 col-lg-6">
                <div class="section-title">
                   <h1>@Html.Raw(Model.ExpertsHeader.Title)</h1>
                    <p class="text-black-50">@Model.ExpertsHeader.Description</p>
                </div>
            </div>
        </div>
        <div class="row pb-5">

            @foreach (var experts in Model.Experts)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="item text-center">
                        <div class="img">
                            <img src="~/img/@experts.Image" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="text mt-3">
                            <h6>@experts.Name</h6>
                            <p class="text-black-50">@experts.Position</p>
                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>
